<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title><%= pageTitle %> - Söl</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header class="topbar">
    <div class="container">
      <h1 class="logo">Söl</h1>
      <nav class="nav">
        <a href="/">Accueil</a>
        <a href="/dessin">Portfolio</a>
        <a href="/dessin/new">Ajouter</a>
      </nav>
    </div>
  </header>

  <main class="container">
